.container{ 
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px;
    background-color: lightgray;
    gap: 25px;
}

.item {
	background-color: lightblue;
	text-align: center;
	padding:25px ;
	border-radius: 25px;
    list-style-image: img · max-width: 100%; height: auto; ;  
}

.grid-container{
      display: grid;
      justify-content: space-between;	
}
img:hover{
     transform: scale(1.1);   
      opacity: 0.8;           
      cursor: pointer; 
}

nav {
      background-color: #72718e;
    }
    nav ul {
      display: flex;
    }
    
    nav a {
      display: block;
      padding: 14px 20px;
      color: white;
      text-decoration: none;
    }
    nav a:hover {
      background-color: #4485bb;
    }
caption {
    transition:opacity 0.3s;
}