h2 {
	text-align: center;
}
 body {
      background-color:  lightblue;
      padding: 0;
    }
video {
	max-width:100% ;
	height:auto ;
}
 nav {
      background-color: #72718e;
    }
    nav ul {
      display: flex;
    }
    
    nav a {
      display: block;
      padding: 14px 20px;
      color: white;
      text-decoration: none;
    }
    nav a:hover {
      background-color: #4485bb;
    }
